:root {
  --color-bg: #f0f0f0;
  --color-text: #994cc3;
  --color-primary: #ef5350;
  --color-secondary: #0c969b;
  --color-header-bg: rgba(255, 255, 255, 0.9);
  --color-neon-fill: #ef5350;
  --color-neon-glow: none;
}

html {
  box-sizing: border-box;
  color: #222222;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1;
  background: #f0f0f0;
  background: var(--color-bg);
  color: #994cc3;
  color: var(--color-text);
  transition: background 0.8s, color 0.8s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #ef5350;
  color: var(--color-primary);
}

p {
  line-height: 1.4;
  margin: 5px 0;
  font-size: 0.9em;
}
@media screen and (min-width: 1000px) {
  p {
    font-size: 1em;
  }
}

a {
  text-decoration: none;
  color: #0c969b;
  color: var(--color-secondary);
}
a:hover {
  opacity: 0.8;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: none;
}

main {
  align-self: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

menu {
  padding: 0;
  margin: 0;
}
