:root {
  --color-bg: #f0f0f0;
  --color-text: #994cc3;
  --color-primary: #ef5350;
  --color-secondary: #0c969b;
  --color-header-bg: rgba(255, 255, 255, 0.9);
}

html {
  box-sizing: border-box;
  color: #222222;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1;
  background: var(--color-bg);
  color: var(--color-text);
  transition: background 0.8s, color 0.8s;
}

button {
  background: var(--color-secondary);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-primary);
}

p {
  margin: 0 0 0.5rem 0;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: none;
}
